<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/main.css">
    <title>WeatherApp</title>
</head>
<body>
    <div class="containerA">
        <div class="card">
                <div class="error">
                    <h1>Invalid Entry !</h1>

                    <h3 ><br>Please try again.<br> Go back to do another search.</h3>
                </div>    
        </div>
        <h5 class="credits">@Designed and developed by Kevin Babu</h5>

    </div>
</body>
</html>